@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1574078171521'); /* IE9 */
  /*src: url('iconfont.eot?t=1574078171521#iefix') format('embedded-opentype'), !* IE6-IE8 *!*/
  src: url('iconfont.woff?t=1574078171521') format('woff'),
  url('iconfont.ttf?t=1574078171521') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  /*url('iconfont.svg?t=1574078171521#iconfont') format('svg'); !* iOS 4.1- *!*/
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-github:before {
  content: "\e709";
}

.icon-wendang:before {
  content: "\e620";
}

.icon-lianjie:before {
  content: "\e611";
}

.icon-xuanzhong:before {
  content: "\e723";
}

.icon-rili:before {
  content: "\e619";
}

